* {
    margin: 0px;
}

body {
    height: 100%;
}

header {
    background-color: #EAEAEA;
    padding: 5px;
    padding-bottom: 50px;
    font-weight: bold;
    font-size: 25px;
}

.left-column {
    float: left;
    background-color: #c8fc98;
    width: 185px;
    padding: 5px;
    line-height: 150%;
}

.content-column {
    padding-left: 200px;
}

footer {
    clear: both;
    background-color: black;
    text-align: center;
    height: 30px;
}
